<div id="loginBody">
  <form name="registrationForm" ng-controller='registerCtrl' novalidate ng-submit='register(regUser)'>
    <div class="subTitle">Register!</div>
    <div class="row">
    <div class="input-field col s6">
      <input ng-model='regUser.username' value="" id="first_name2" type="text" class="validate register">
      <label class="active register" for="first_name2">Username:</label>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->
    <div class="input-field col s6">
      <input ng-model='regUser.password' value="" id="first_name2" type="password" class="validate register">
      <label class="active" for="first_name2">Password:</label>
    </div>
  </div>
        
    <button class="btn waves-effect waves-light">Register!</button>
  </form>
  <br><hr>
  <form name="loginForm" ng-controller='loginCtrl' novalidate ng-submit='login(loginUser)'>
      <div class="subTitle">Login!</div>

   <div class="row">
    <div class="input-field col s3">
      <input ng-model='loginUser.username' value="" id="first_name2" type="text" class="validate register">
      <label class="active" for="first_name2">Username:</label>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->
    <div class="input-field col s3">
      <input ng-model='loginUser.password' value="" id="first_name2" type="password" class="validate register">
      <label class="active" for="first_name2">Password:</label>
    </div>
  </div>

    <button class="btn waves-effect waves-light">Login!</button>

  </form>