<h1>profile</h1>


<div id="profileBody">
  <h1>Welcome {{user.username}}!</h1>
  <div class="row">
    <div class="col-l6">
    <div ng-hide="viewEdit">

        <img ng-src={{user.photo}}>
        <br>
        <label class="label" for="">Username:</label> <div class="profInfo" ng-model="user.username">{{user.username}}</div>
        <br>
        <label class="label" for="">Name:</label> <div class="profInfo" ng-model="user.name">{{user.name}}</div>
        <br>
        <label class="label" or="">Email:</label> <div class="profInfo" ng-model="user.email">{{user.email}}</div>
        <!-- <br> -->
      </div>

      <div class="col-l6">

      </div>

    </div>
  </div>






  <div class="card" ng-show="viewEdit">

    <form ng-submit="saveEdit()">

      <label for="">Photo</label>
      <input ng-model="user.photo">

      <label for="">Name</label>
      <input ng-model="user.name">

      <label for="">Email:</label>
      <input ng-model="user.email">

 <!--  <label for="">Username:</label>
 <input ng-model="user.username"> -->

  <!-- <label for="">Password:</label>
  <input ng-model="user.password"> -->


  <button>Submit</button>

</form>

</div>
</div>