a:link {
  text-decoration: none;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
color: #6496c8;
}

button {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
  transition: all 1s ease;
  &:hover {
    border-color: #346392;
    color: #346392;
  }
  &:active {
    border-color: #27496d;
    color: #27496d;
  }
  &:focus {
    outline: none;
  }
}

